/* Copyright © 2024 Vishnu P Raj. All rights reserved. */


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&display=swap');



*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }  

html{
  height: -webkit-fill-available;
}

body {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    /* height: -webkit-fill-available; */
    /* height: 100svh; */
  }
  @media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
    }
  }


/* Custom CSS code for the right side middle fixed navigation bar */
  /* Variables */
  :root {
    --main-font-homepage: "Protest Riot", sans-serif; /*home page main font family*/
    --main-fontsize-homepage: 11vw;
    --main-fontweight-homepage: bold;
    --main-fontsize-homepage1: 6vw;

    --secondary-font-homepage: "Poppins", sans-serif; /*home page secondary font family*/
    --secondary-fontsize-homepage: 3vw;
    --secondary-fontweight-homepage: thin;

    --base-font-family: "Poppins", sans-serif; /*Base font family*/
    --base-font-size: 2.7vh;
    --footer-font-size: 1.5vw;

    --brand-font-size: 4vh; /*Brand font size*/

    --gradiant-color-start: rgba(45, 21, 77, 1);
    --gradiant-color-end: rgba(108, 100, 139, 1);

    --dominant-color: rgba(45, 21, 77, 1); /*Colors*/
     
    --dominant-lite-color:rgba(108, 100, 139, 1)  ;

    --primary-color: #6BBAA7 ;
    --secondary-color: #B6A19E ;
    
    --accent-color: #FBA100 ; 
  }



  /* gradient color starts */
  .base-color{
    background: linear-gradient(90deg, var(--gradiant-color-start) 0%, var(--gradiant-color-end) 50%, var(--gradiant-color-start) 100%);
  }
  /* gradient color ends */


  /* custom font */
  h1{
    font-family: var(--base-font-family);
    font-size: var(--base-font-size);
    color: var(--primary-color) !important;
  }
  p, h5, h4,
  .nav-link{
    font-family: var(--base-font-family);
    font-size: var(--base-font-size);
    color: var(--secondary-color) !important;
  }
  h2{
    font-family: var(--base-font-family);
    font-size: var(--base-font-size);
    color: var(--primary-color) !important;
  }
  .brand-font{
    font-family: var(--base-font-family);
    font-size: var(--brand-font-size);
    color: var(--secondary-color) !important;
  }


  /* progressive bar color starts */
  .bar-color{
    background-color: var(--dominant-color) !important;
  }
/* progressive bar color ends */


/* Home page custom font and animation section starts */

.main-font-homepage-txt h1{
        font-family: var(--main-font-homepage); 
        font-size: var(--main-fontsize-homepage) !important;
        font-weight: var(--main-fontweight-homepage) !important; 
        position: relative;
        color: var(--primary-color) !important;
        text-shadow: 4px 4px 2px var(--dominant-color);
        /* -webkit-text-stroke: 0.02vw var(--accent-color); */
}
h1::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  color: var(--primary-color) !important;
  text-shadow: 4px 6px 2px rgba(0,0,0,0.6);
  /* -webkit-text-stroke: 0vw #827984; */
  
  overflow: hidden;
  animation: anima 8s linear infinite;
}

@keyframes anima{
  0%,10%,100%{
    width: 0;
  }
  70%,90%{
    width: 100%;
  }
}

/* hero page animation and custom font ends */


/* hero page font */
.main-font-homepage-txt1 h1{
        font-family: var(--main-font-homepage); 
        font-size: var(--main-fontsize-homepage1) !important;
        text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

/* hero page font */
.secondary-font-homepage-txt h4{
        font-family: var(--secondary-font-homepage);
        font-size: var(--secondary-fontsize-homepage) !important ;
        font-weight: var(--secondary-fontweight-homepage);
        color: var(--accent-color) !important;
}



/* hero section image blob animation starts */

.hero-border{
  border-radius: 70% 30% 7% 93% / 41% 75% 25% 59%;
  background-color: var(--accent-color);

  pointer-events:none;
  animation: ani 5s linear infinite;
}
@keyframes ani{
  0%{
    border-radius: 70% 30% 10% 45% / 41% 75% 25% 79%;
    background-color: var(--secondary-color);
  }
  50%{
    border-radius: 48% 11% 7% 93% / 64% 75% 25% 36%;
    background-color: var(--dominent-color);
  }
  75%{
    border-radius: 72% 27% 7% 93% / 64% 75% 25% 36%;
    background-color: var(--primary-color);
  }
  100%{
    border-radius: 70% 30% 10% 45% / 41% 75% 25% 79%;
    background-color: var(--accent-color);
    
  }
}
/* hero section image blob animation starts */


/* Home page section ends */


/* vertical height of each page starts */
.vertical-height{
  height: 100vh;
} 

/* Styles for mobile view (max-width: 576px) */
@media (max-width: 576px) {
  .vertical-height {
      height:90vh;  /* Adjust the value as needed */
  }
}
/* vertical height of each page ends */


/* about box and skill box style starts */
.box{
  background: rgba(53,52,54,0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  box-shadow: 6px 6px 10px 1px #353436;
}


.skill-box{
  background-color: var(--secondary-color) !important;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 6px 6px 10px 1px var(--dominant-color);
  
}
.skill-box h5{
  color: var(--dominant-color) !important;
}
/* about box and skill box style ends */



/* glow and transform in nav link starts */
.box-glow1{
  box-shadow: 0 0 0px var(--dominant-color), 0 0 0px var(--dominant-color);
  transform: rotate(350deg);
  margin-right: 20px;
}
.box-glow1:hover{
  box-shadow: 0 0 5px var(--dominant-color), 0 0 25px var(--dominant-color), 0 0 50px var(--dominant-color), 
  0 0 100px var(--dominant-color), 0 0 200px var(--dominant-color);
  color: var(--accent-color) !important;
  transform: rotate(0deg);
}

.box-glow2{
  box-shadow: 0 0 0px var(--dominant-color), 0 0 0px var(--dominant-color);
  transform: rotate(20deg);
  margin-left:10px ;
}
.box-glow2:hover{
  box-shadow: 0 0 5px var(--dominant-color), 0 0 25px var(--dominant-color), 0 0 50px var(--dominant-color), 
  0 0 100px var(--dominant-color), 0 0 200px var(--dominant-color);
  color: var(--accent-color) !important;
  transform: rotate(0deg);
}
/* glow and transform in nav link ends */


/* Styles for mobile view and tab view (max-width: 990px) */
@media (max-width:  990px ) {
  .box-glow1,
  .box-glow2 {
      box-shadow: none; /* Remove the box shadow */
      transform: none; /* Remove the rotation */
  }

  .box-glow1:hover,
  .box-glow2:hover {
      box-shadow: none; /* Remove the box shadow on hover */
      color: inherit; /* Reset the color to default */
      transform: none; /* Remove the rotation on hover */
  }
}


/* contacts icon size starts */
.fs-icon{
  width: 2.5rem;
}
/* contacts icon size ends */

/* footer font size starts */
.footer-class{
  font-size: var(--footer-font-size);
}
/* footer font size ends */

.btn-bd-primary {
  --bs-btn-font-weight: 600 !important;
  --bs-btn-color: var(--dominant-color) !important ;
  --bs-btn-bg: var(--accent-color) !important;
  --bs-btn-border-color: var(--accent-color) !important;
  --bs-btn-hover-color: var(--dominant-color) !important;
  --bs-btn-hover-bg: var(--primary-color) !important;
  /* --bs-btn-hover-border-color: var(--primary-color) !important; */
  /* --bs-btn-focus-shadow-rgb: var(--accent-color) !important; */
  --bs-btn-active-color: var(--dominant-color) !important;
  --bs-btn-active-bg: var(--primary-color) !important;
  --bs-btn-active-border-color: var(--accent-color)!important;
}